h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0.75rem 0;
}

h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--Brown-800);
  padding: 0;
  margin: 0;
}

h3 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--Rose-800);
  padding: 0;
  margin: 0.1rem;
}

.wholebody-container {
  width: 100%;
  background-color: var(--White);
}

.main-image {
  width: 100%;
}

.body-container {
  padding: 1rem;
}

.recipe-txt {
  line-height: 1.5em;
}

.prep-time-container {
  background-color: var(--Rose-50);
  border-radius: 0.6rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.prep-time-container li {
  margin: 0.75rem 0;
}

.ingre-container {
  margin-block-start: 1rem;
  border-block-end: 1px solid var(--faded-black);
}

.ingre-container li {
  margin: 0.75rem 0;
}

.instruc-container {
  margin-block-start: 1rem;
}

.instruc-container ol {
  padding-inline-start: 0.5rem;
  margin-inline-start: 1rem;
}

.instruc-container li {
  margin: 0.5rem;
  line-height: 1.5em;
}

.nutrition-txt {
  margin: 0.5rem 0;
  line-height: 1.5em;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-block-end: 1px solid var(--faded-black);
  padding: 0.6rem;
  text-align: start;
}

th {
  font-weight: normal;
}

td {
  color: var(--Rose-800);
  font-weight: bold;
}

tr:last-child th,
tr:last-child td {
  border-block-end: none;
}



@media (min-width: 48rem) {

  body {
    min-height: 100vh;
    background-color: var(--Stone-100);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wholebody-container {
    height: 90vh;
    width: min(90%, 45rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
    overflow-y: auto;
    border-radius: 0.5rem;
    margin: 2rem auto;
  }

  .main-image-container {
    margin: 1rem;
  }

  .main-image {
    border-radius: 0.5rem;
  }

  h1 {
    margin: 0 0 0.75rem 0;
  }

  .body-container {
    padding: 0 1rem 1rem 1rem;
  }

  table {
    border-collapse: collapse;
    max-width: 75%;
  }
}